<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather App</title>
</head>
<body>
  <h1>Weather App</h1>
  <form action="{% url 'new-city' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add">
  </form>
  <hr>
  {% for weather in weather_list %}
    <ul>
      <li>City: {{ weather.city }}</li>
      <li>Temp: {{ weather.temp }} &#8451;</li>
      <li>Description: {{ weather.description }}</li>
      <li>Icon:
        <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="weather_img">
      </li>
    </ul>
    <hr>
  {% endfor %}
</body>
</html>